@font-face {
    font-family: 'AirbnbCerealBook';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/font/AirbnbCerealBook.woff') format('woff');
}



* {
    font-family:'AirbnbCerealBook';
}

.aside{
    text-align: center;
    align-items: center;
    background-color: white;
}

.img-fluid:hover{
    filter: contrast(0.8);
}

.add-item, .checkout{
   text-align: left;
   font-weight: bold; 
}

.cancel-btn{
    background-color: #F24F8A !important;
    color: #ffffff !important;
}

.blue-btn{
    background-color: #57CAD5 !important;
    color: #ffffff !important;
}

.blue-btn:hover,
.cancel-btn:hover{
    filter: brightness(1.05) !important;
    
}
.form-control, .table, .graph{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
}