@font-face {
    font-family: 'AirbnbCerealBook';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/font/AirbnbCerealBook.woff') format('woff');
}

.product {
    background: rgba(190, 195, 202, 0.3);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'AirbnbCerealBook';
}

.aside{
    text-align: center;
    align-items: center;
    background-color: white;
}

.img-fluid:hover{
    filter: contrast(0.8);
}

.add-item, .checkout{
   text-align: left;
   font-weight: bold; 
}

.cancel-btn{
    background-color: #F24F8A !important;
    color: #ffffff !important;
}

.blue-btn{
    background-color: #57CAD5 !important;
    color: #ffffff !important;
}

.blue-btn:hover,
.cancel-btn:hover{
    filter: brightness(1.05) !important;
    
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cart-num {
    height: 105px !important;
    width: 105px !important;
    background-color: turquoise !important;
    border-radius: 50% !important;
    
   
}
.container {
    justify-content: center !important;
}